
.d_layout{
    background: white;
    width: 100%;
    height: 80vh;
}
.content_l{
    border:1px solid lightgrey;
    background: white;
    width: 100%;
    height: 100%;
}
.header{
    background: white;
}

.footer{
    text-align: center;
    height: 60px;
}